@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .heading-l{
        @apply font-lucida font-bold text-[42px] leading-tight sm:text-5xl;
    }
    .heading-m{
        @apply font-lucida text-[2.5rem];
    }
    .heading-s{
        @apply font-lucida text-[2rem] leading-tight;
    }
    .heading-xs{
        @apply font-lucida text-[1.5rem];
    }

    .heading-xxs{
        @apply font-lucida text-xl;
    }

    .body-xxs{
        @apply font-roboto font-normal text-xs tracking-wide;
    }

    .body-xs{
        @apply font-roboto font-normal text-sm tracking-wide;
    }

    .body-xs-select{
        @apply font-roboto font-medium text-base lg:text-sm tracking-wide;
    }
    .body-s{
        @apply font-roboto font-normal text-base tracking-wide;
    }
    .body-m{
        @apply font-roboto font-semibold text-lg leading-tight;
    }
    .body-l{
        @apply font-roboto font-semibold text-xl;
    }
    .subtitle{
        @apply font-roboto font-medium text-base sm:text-xl uppercase tracking-widest;
    }

    .bggradient{
        background: linear-gradient(100deg, #388CB3 -52.14%, #0A628A 63.21%); 
    }
}

:root{
  font-size: 16px;
  @apply text-dark-400 bg-slate-50;
}


@font-face {
  font-family: 'Lucida Bright';
  src: url('../public/fonts/LBRITE.TTF') format('truetype');
  /* Add more src declarations for different font formats if necessary */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lucida Bright';
  src: url('../public/fonts/lucidabrightdemibold.ttf') format('truetype');
  /* Add more src declarations for different font formats if necessary */
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mainApp{
  @apply flex justify-start items-center h-svh w-screen flex-col pt-10;
}

h3{
    @apply heading-m;
}

h6{
    @apply heading-xs;
}


.btn_outline{
  @apply p-4 text-accent-300 border-2 border-accent-300 rounded-lg flex flex-row gap-2 items-center body-m;
}